.team-card {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #ffffff33;
  padding: 10px 15px;
  border: 2px solid #ffffff82;
  margin-bottom: 25px;
  border-radius: 12px;
  width: 100%;
}

.team-card-link {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.team-card-image {
  width: 75px;
  margin-right: 20px;
  height: 100px;
}

.team-card-name {
  font-family: 'Bree Serif';
  color: #ffffff;
  text-align: center;
  margin: 0 auto;
  font-size: 26px;
  font-weight: bold;
}

@media (min-width: 576px) {
  .team-card {
    width: 48%;
  }
}
